streamlit
pandas
plotly
requests
openpyxl
xlsxwriter
fastparquet
plotly.express
gspread==6.1.2
google-auth==2.31.0
streamlit-geolocation==0.0.9
qrcode[pil]==7.4.2 
pyzbar==0.1.9      
Pillow==10.4.0
opencv-python-headless==4.10.0 
